img{
  width:350px;
  height:350px;
  margin-left: 40%;
}
div{
  width: 350px;
  margin-left: 40%;
}
p{
  color:black;
}
underlined{
  text-decoration: underline;
}
highlighted {
  background-color: orange;
}
red{
  color: red;
  font-weight: bold;
}
